// Colors ------------------------------
//  Names were derived from the website https://rgbcolorcode.com/color/4da2bb

$color-mayablue: #51ddfc;
$color-turquoise: #58e1c1;
$color-emerald: #63cc82;
$color-grey: #777;
$color-electricblue: #7ee6fd;
$color-aquamarine: #80e8d1;
$color-verdigris : #4da2bb;
$color-etonblue: #88d9a0;
$color-ube: #927bc1;
$color-mauve: #deb2ee;
$color-candypink: #e4757a;
$color-nauvelous: #ec9fa3;
$color-coral: #fd7856;
$color-vividtangerine: #fd9f85;
$color-white: #fff;

$button-color: $color-white;
$breakpoint-md: 768px;